.bm-canvas {
  background-color: black;
  overflow: hidden;
  position: relative;
}

.bm-canvas .bm-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
}

.bm-canvas canvas {
  display: block;
}
